.dumbbell-fall {
  position: relative;
}

.dumbbell-fall > img {
  position: absolute;
  top: 20px;
  animation: fall 3s ease infinite;
}

.home-container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 178px 290px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.gradient-text {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
  --tw-gradient-from: #f97316;
  --tw-gradient-to: rgb(249 115 22 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #eab308;
  background-clip: text;
  color: #0000;
  -webkit-background-clip: text;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-two {
  margin-top: 28px;
  width: 541px;
  height: 75px;
  flex-shrink: 0;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-three {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.huge-text {
  margin-top: 77px;
  width: 920px;
  color: #fff;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.image-equipment-container > img {
  width: 280px;
  aspect-ratio: 1;
}

.equipment {
  position: relative;
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .image-equipment-container {
    position: absolute;
    left: 20%;
    top: 385px;
  }
  .equipment {
    position: relative;
    animation: none;
  }
}

@keyframes equipment-fall {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fall {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(600px);
  }
}
